<app-header headerName="Dashboard"/>
<section>
  <!--  Stats-->
  <div class="stats bg-base-100 border border-base-300 mx-auto flex">
    <!--    Total-->
    <div class="stat w-full">
      <div class="stat-title">Total Bookmarks</div>
      <div class="stat-value">200</div>
      <!--        <div class="stat-actions">-->
      <!--          <button class="btn btn-xs btn-success">Add funds</button>-->
      <!--        </div>-->
    </div>
    <!--    Collection-->
    <div class="stat w-full">
      <div class="stat-title">Total Collection</div>
      <div class="stat-value">29</div>
      <!--        <div class="stat-actions">-->
      <!--          <button class="btn btn-xs">Withdrawal</button>-->
      <!--        </div>-->
    </div>
  </div>

  <main class="my-10 flex flex-col md:flex-row justify-between items-center gap-8 md:gap-4">
    <!-- Recents-->
    <div class="card  bg-base-100 w-full">
      <div class="card-body p-0 md:p-4">
        <h2 class="card-title text-base-content text-sm mb-2">Recents</h2>
        <app-bookmark-card/>
        <app-bookmark-card/>
        <div class="card-actions justify-end">
          <button class="btn btn-ghost ">View more</button>
        </div>
      </div>
    </div>
    <!--Favourites-->
    <div class="card  bg-base-100 w-full">
      <div class="card-body p-0 md:p-4">
        <h2 class="card-title text-base-content text-sm mb-2">Favorites</h2>
        <app-bookmark-card/>
        <app-bookmark-card/>
        <div class="card-actions justify-end">
          <button class="btn btn-ghost ">View more</button>
        </div>
      </div>
    </div>
  </main>
</section>

